
body{
    background-color:rgb(10, 10, 10);
    color:aliceblue ;
}
body a{
    color:rgb(0, 255, 115);
}
ol{
    color:rgb(0, 255, 115); 
}
ul{
    color:rgb(0, 255, 115); 
}
ol label{
    color: aliceblue;
}
ul label{
    color: aliceblue;
}