div{
    background-color: black;
    color:goldenrod;   /*px para pixel e % para porcentagem*/
    width: 170px;
    margin: 10px;/*colocar travessão e direção(top under left right) ou X(top) X(right) X(under)  X(left) NESSA ORDEM, NÃO ALTERAR A MENOS QUE ESTEJA ERRADO*/
    padding:10px; /*o comentário acima conta para isso também*/
    border-radius: 15px; /*border radius arredonda a borda, margin distancia, padding tamanho da div, width largura, heigt tamanho*/
}