body{
    margin: 0px;
    height: 100vh;
    background-color:rgb(17, 23, 29) ;
    display:flex;
    align-items: center;
    justify-content: center;
}
.teste{
        background-color: darkslategray;
        border: 5px double darkgoldenrod;
        color: gold;
        display: flex;
        align-items: center;
        justify-content:space-around;
        flex-wrap: wrap;
        gap:30px;
        padding: 30px;
        width:300px;
        height:300px;
        margin:2px 0px;
}
.teste div{
    background-color: cornflowerblue;
    border: 4px dashed darkred;
    display: flex;
    align-items:center ;
    justify-content: center;
    width:50px;
    height:50px;
}
.outro{
    background:black;
    color: darkslateblue;
    width:300px;
    height:300px;
    font-size: 50px;
    text-align: center;
    border:10px inset purple;
}
.outro:hover{
    background-color: aliceblue;
    color:crimson;
    width:300px;
    height:300px;
    font-size: 50px;
    text-align: center;
    border: 10px outside greenyellow;
}