.navbar{
    background-color: darkslategray;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 75px;
    height:150px;
    width:100%;
}
.navbar img{
    width:650px;
    height:75px;
}
#cll{
    display: none;
    border-radius: 50%;
}
.navbar input{
    width: 350px;
    height:30px;
    border-radius:50px;
}
.navbar a{
    color:whitesmoke;
}
.hoveraqui{
    display:none;
    border-radius: 50%;
}
body{
    margin: 0px;
    display:flex;
    flex-wrap: wrap;
}
.body{
    background-color: rgb(77, 76, 76);
    display:flex;
    flex-wrap: wrap;
    gap:35px;
    justify-content: center;
    align-items: center;
    height:calc(100vh - 150px);
    width:100%;
}
.areas{
    border-radius: 25px;
    background-color: aliceblue;
    height:175px;
    width:200px;
    display:flex;
    align-items: center;
    justify-content: center;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    margin:15px
}
#EDU{
    background-image: url(img/EDU-removebg-preview\ \(1\).png);
}
#AED{
    background-image: url(img/AED-removebg-preview.png);
}
#SIS{
    background-image: url(img/SIS-removebg-preview.png);
}
#HUM{
    background-image: url(img/HUM-removebg-preview.png);
}
#EXT{
    background-image: url(img/EXT-removebg-preview.png);
}
#SBE{
    background-image: url(img/SBE-removebg-preview.png);
}
#CDT{
    background-image: url(img/CDT-removebg-preview.png);
}
#LED{
    background-image: url(img/LED-removebg-preview.png);
}
.txt{
    background-color: aliceblue;
    border: double 2px rgb(57, 55, 55);
    padding:2px
}
b{
    color:aliceblue
}
label{
    color:aliceblue
}
.body a{
    text-decoration: none;
    color: black;
}
.job{
    height:250px;
    width:325px;
    background-color: aliceblue;
    border-radius: 15px;
    display:flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
}
#musica{
    background-image: url(img/musica-removebg-preview.png);
}
#artesp{
    background-image: url(img/artes_plasticas-removebg-preview.png);
}
#moda{
    background-image: url(img/moda-removebg-preview.png);
}
#arquiteto{
    background-image: url(img/arquitetura-removebg-preview.png);
}
.pessoa img{
    height: 175px;
    width: 175px;
    border-radius: 50%;
}
.pessoa{
    background-color: aliceblue;
    width: calc(200vh - 100px);
    margin-top: -250px;
    border-radius:25px;
    display:flex;
    align-items: center;
    gap:30px;
    padding-left: 30px;
    padding-right: 30px;
    margin:10px
}
.coisas b{
    color:black;
}
#dev{
    background-color: darkcyan;
    border: double 7px darkgoldenrod;
    color: darkred;
}
#devtxt{
    text-decoration: underline;
    text-decoration-style: wavy;
}
#devimg{
    border: rgb(120, 120, 120) outset 10px;
    border-radius: 50%;
}
.eng{
    border-radius: 25px;
    border: solid 2px rgb(40, 39, 39);
    padding: 12px;
}
.eng input{
    border-radius: 25px;
}
.ad img{
    height: 250px;
}
.ad{
    display: flex;
    flex-wrap:wrap;
    align-items: bottom;
    justify-content: left;
    gap:30px;
    height: 275px;
    width: 100%;
    background-color: brown;
}
.ad h1{
    height: 200px;
}
.ad label{
    color: black;
}
@media (max-width: 750px){
    .body{
        height: 100%;
    }
    .areas{
        width:175px;
        height:150px;
    }
    .navbar img{ 
        display:none;
    }
    .navbar input{ 
        display:none;
    }    
    .navbar label{ 
        display:none;
    }
    .navbar a{
        display:none;
    }
    #cll{
        display:block;
        width:125px;
        height: 125px;
    }
    .hoveraqui{
        display:block;
    }
    .hoveraqui a{
        display:block;
    }
    .hoveraparece{
        display:none;
    }
    .hoveraqui:hover .hoveraparece{
        display: block;
        opacity: 0.95;
        position: absolute;
        background-color: rgb(21, 52, 52);
        justify-content: center;
    }
    .item{
        height:30px;
        color:aliceblue;
        background-color:rgb(16, 25, 25) ;
        justify-content: center;
    }
}