.cards{
    background-color: darkslategray;
    display:flex;
    gap:15px;
}
.card{
    background-color: firebrick;
    display: flex;
    flex-direction: column;
    border: double 4px darkcyan;
    border-radius: 20px;
    background-color: bisque;
}
.card img{
    width:150px;
    height: 150px;
    border-radius: 18px 18px 0 0;
}
.card label{
    width:150px;
    height:40px;
    display: flex;
    align-items:center;
    justify-content:center;
    font-family: Arial;
    color:dimgrey;
}